
<div class="top-navbar">
  <div class='background-image'>
    <!-- beginning of left side brand banner -->
    <div class="brand-wrapper">
      <div class="brand-logo"></div>
      <div class="branding">
        Kritique
      </div>
    </div>

    <!-- beginning of tag line -->

      <div class="tagline-wrapper">
        <div class="tagline">
          <h2>Real Reviews</h2>
        </div>
        <div class="tagline">
          <h2>By Real People</h2>
        </div>
      </div>
  </div>
</div>

<div class="Critique-explained">
  <div class="what-is-Kritique">
    <h1>What is Kritique?</h1>
  </div>
  <div class="what">
    <div class="what-1" id="what-content-1">
      <h2>Kritique is a platform that allows uses to have a level of <br> transparentcy to the food we not only order and eat.</h2>
    </div>
    <div class="what-1" id='image-1'></div>

    <div class="what-1" id='image-2'></div>
    <div class="what-1" id="what-content-2">
      <h2>Kritique is the platform that takes food reviwing and blogging to the next level, <br>  with the added benefit of leaving your own spin to what you thought of the meal</h2>
    </div>

  </div>
</div>





<div class="">
  <% if signed_in?%>
  hello <%= @user.email%>!
  <% end %>
</div>

<div class="">

</div>

<!-- <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div> -->
